<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UsersVisit</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <table class="table table-responsive table-bordered table-striped">
            <thead>
            <tr>
                <th> Id</th>
                <th> Date message</th>
                <th> First name</th>
                <th> Last name</th>
                <th> Button name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${users.empty}">
                <td colspan="2"> No Info Available</td>
            </tr>
            <tr th:each="userWriteBot : ${users}">
                <td><span th:text="${userWriteBot.id}"> Id </span></td>
                <td><span th:text="${userWriteBot.dateMessage}"> Date message </span></td>
                <td><span th:text="${userWriteBot.firstName}"> First name </span></td>
                <td><span th:text="${userWriteBot.lastName}"> Last name </span></td>
                <td><span th:text="${userWriteBot.buttonName}"> Button name </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<form th:action="@{/logout}" th:method="POST" style="text-align: center;">
    <input class="" type="submit" value="Logout"/>
</form>
</body>
</html>